Library/
Logs/
obj/
Temp/
.vs/
.idea/
Assets/NaughtyAttributes/Samples/DemoScene/DemoScene.unity
Assets/NaughtyAttributes/Samples/DemoScene/TestAssets/DummyAnimation.anim
Assets/NaughtyAttributes/Samples/DemoScene/TestAssets/icon-github.png
docfx_project/log_file.txt
docfx_project/BuildDoc.bat